<h1 id="ezshare">EzShare</h1>
<p>HTTP POST files here:
    <code>curl -F&#39;file=@yourfile.png&#39; {{baseUrl}}/</code></p>
<p>Shorten your URL:
    <code>curl -X POST -d &#39;https://github.com/iceBear67/ezshare&#39; {{baseUrl}}/</code></p>

<p>Not allowed: {{notAllowed}}</p>
<h2 id="terms-of-service">TERMS OF SERVICE</h2>
<p>Here is NOT a platform for:</p>
<ul>
    <li>piracy</li>
    <li>pornography and gore</li>
    <li>extremist material of any kind</li>
    <li>malware / botnet C&amp;C</li>
    <li>anything related to crypto currencies</li>
    <li>backups (yes, this includes your minecraft stuff, seriously
        people have been dumping terabytes of it here for years)</li>
    <li>CI build artifacts</li>
    <li>doxxing, database dumps containing personal information</li>
    <li>anything illegal</li>
</ul>
<p>Uploads found to be in violation of these rules will be removed,
    and the originating IP address blocked from further uploads.</p>
